@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --grisClaro: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    /*
        max-width: 120rem;
        width: 90%;
    */
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

/* Header */
.header {
    height: 55rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 2rem;
}

@media (min-width: 640px) {
    .header {
        height: 45rem;
    }
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 12rem;
    }
}


.barra {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Logo */
.logo {
    color: var(--blanco);
}

.logo__regular {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

/* Navegación */
.navegacion {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
        margin-top: 0;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
}

/* Contenido Principal */
.contenido-principal {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5rem;
    }
}

.contenido-principal h3 {
    margin-bottom: 2.5rem;
}


.entrada, .widget-curso, .curso {
    border-bottom: 1px solid var(--grisClaro);
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.entrada:last-of-type,
.widget-curso:last-of-type,
.curso:last-of-type {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}

.entrada__contenido p {
    margin: .5rem 0 2rem 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

/* Sidebar */
.sidebar {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .sidebar {
        margin-top: 0;
    }
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

/* Cursos */
.cursos {
    list-style: none;
}

.widget-curso__label, 
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
    font-size: 2rem;
}

.widget-curso__info, 
.curso__info {
    font-weight: 400;
}

/* Footer */
.footer {
    margin-top: 4rem;
    background-color: var(--negro);
    padding-bottom: 2rem;
}

/* Página Sobre Nosotros */
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.sobre-nosotros__texto{
    margin-top: 1rem;
}

.sobre-nosotros__texto p {
    text-align: justify;
}

.sobre-nosotros__texto p:last-of-type {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .sobre-nosotros__texto {
        margin-top: 0;
    }
}

/* Página Cursos */
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }
}

.curso__imagen {
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .curso__imagen {
        margin-bottom: 0;
    }
}

.curso__descripcion {
    margin: 0;
    text-align: justify;
}

.curso {
    margin-bottom: 5rem;
    padding-bottom: 3rem;
}

/* Págona Entrada Blog */
.entrada__imagen {
    width: 100%;
    height: auto;
}

.entrada-blog__contenido {
    font-size: 1.8rem;
    text-align: justify;
}

/* Página Contacto */
.contacto-background {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 2rem;
}

@media (min-width: 768px) {
    .formulario {
        padding: 5rem;
        padding-bottom: 1rem;
    }
}

.campo {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .campo {
        margin-bottom: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.campo__label {
    display: block;
    margin-bottom: .2rem;
    font-size: 1.8rem;
}

@media(min-width: 768px) {
    .campo__label {
        flex: 0 0 9rem;
        text-align: right;
        margin-right: 2rem;
    }
}

.campo__field {
    width: 100%;
    border: 1px solid var(--grisClaro);
    padding: 1rem;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .campo__field {
        flex: 1;
    }
}

.campo__field--textarea {
    height: 15rem;
    width: 100%;
    resize: none;
}

.formulario .boton {
    width: 100%;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .formulario .boton {
        width: auto;
        margin: 0;
    }
    
    .campo--boton {
        display: flex;
        justify-content: flex-end;
    }
}